name: ci
on: [push]
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
      - name: Build project
        run: npm ci
      - name: Run tests
        run: npm test
      - name: Create Site
        run: npm run site
      - name: Deploy Site
        if: github.ref == 'refs/heads/main'
        uses: kayahr/deploy-github-pages-action@d17ae8bb6c807ba4612792ceefa558be2e061e4c
        with:
          path: lib/site
